!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      = t(:company_name)
      |
      = t(:tag_line)
    = stylesheet_link_tag    'managers/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'managers/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => " #{yield (:meta_description) } ", :name => "description"}/
    %meta{:content => " #{yield (:meta_keywords) } ", :name => "keywords"}/
    %meta{:content => "#{t(:company_name)}", :name => "author"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/assets/img/favicon.ico", :rel => "shortcut icon"}/
  %body
    .navbar.navbar-default{:role => "navigation"}
      .navbar-inner
        %button.navbar-toggle.pull-left.animated.flip{:type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to managers_root_path, class: 'navbar-brand' do 
          %img.hidden-xs{:alt =>  t(:company_name), :src => "/assets/img/logo20.png"}/
          %span= t(:company_name)
        .btn-group.pull-right
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
            %i.glyphicon.glyphicon-user
            %span.hidden-sm.hidden-xs= current_manager.name
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'Profile', edit_managers_profile_path(current_manager)
            %li.divider
            %li
              = link_to 'Logout', destroy_manager_session_path, :method => :delete
    .ch-container
      .row
        .col-sm-2.col-lg-2
          .sidebar-nav
            .nav-canvas
              .nav-sm.nav.nav-stacked
              %ul.nav.nav-pills.nav-stacked.main-menu
                %li.nav-header Main
                %li
                  = link_to managers_root_path, class: 'ajax-link' do 
                    %i.glyphicon.glyphicon-chevron-right
                    %span Dashboard
                %li
                  = link_to managers_accounts_path, class: 'ajax-link' do 
                    %i.glyphicon.glyphicon-home
                    %span Accounts
                %li
                  = link_to managers_managers_path, class: 'ajax-link' do 
                    %i.glyphicon.glyphicon-user
                    %span Staff
                %li
                  = link_to '#', class: 'ajax-link' do 
                    %i.glyphicon.glyphicon-list-alt
                    %span Documents
                %li
                  = link_to '#', class: 'ajax-link' do 
                    %i.glyphicon.glyphicon-list-alt
                    %span Reports
                %li
                  = link_to '#', class: 'ajax-link' do 
                    %i.glyphicon.glyphicon-cog
                    %span Settings
        %noscript
          .alert.alert-block.col-md-12
            %h4.alert-heading Warning!
            %p
              You need to have
              %a{:href => "http://en.wikipedia.org/wiki/JavaScript", :target => "_blank"} JavaScript
              enabled to use this site.
        #content.col-lg-10.col-sm-10
          = yield (:breadcrumb)
          = yield
      %hr/
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h3 Settings
            .modal-body
              %p Here settings can be configured...
            .modal-footer
              %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"} Close
              %a.btn.btn-primary{"data-dismiss" => "modal", :href => "#"} Save changes
      %footer.row
        %p.col-md-9.col-sm-9.col-xs-12.copyright
          ©
          %a{:href => "http://usman.it", :target => "_blank"}
            = t(:company_name)
          2012 - #{DateTime.now.strftime('%Y')}
        %p.col-md-3.col-sm-3.col-xs-12.powered-by
          Powered by:
          %a{:href => "http://usman.it/free-responsive-admin-template"}= t(:company_name)
