.row
  .box{class: "col-md-#{params[:action] == 'edit' ? '8' : '12'}"}
    .box-inner
      .box-header.well{"data-original-title" => ""}
        %h2
          %i.glyphicon.glyphicon-star-empty
          Account Information
      .box-content
        = simple_form_for([:managers, account], html: {class: '', novalidate: true}) do |f|
          %table.table.table-striped.table-bordered
            %tr
              %td
                %strong Subdomain 
              %td{:colspan => "3"}
                = f.input :subdomain, label: false, input_html: { class: 'form-control' }
            %tr
              %td
                %strong Account Name
              %td{:colspan => "3"}
                = f.input :name, label: false, input_html: { class: 'form-control' }
            %tr
              %td
                %strong Address
              %td{:colspan => "3"}
                = f.input :address, label: false, input_html: { class: 'form-control' }
                %small Place to meet with board members (Club House, Office, etc)
            %tr
              %td
                %strong City
              %td
                = f.input :city, label: false, input_html: { class: 'form-control' }
              %td
                %strong State
              %td
                = f.input :state, label: false, as: :select, :collection => us_states, include_blank: 'Select One', input_html: { class: 'form-control' }
            %tr
              %td
                %strong Zip Code
              %td
                = f.input :zip, label: false, input_html: { class: 'form-control' }
              %td  
              %td  
            %tr
              %td
                %strong Number of Apartments
              %td
                = f.input :number_of_appartments, label: false, input_html: { class: 'form-control', min: 0 }
              %td
                %strong Monthly Fee
              %td
                = f.input :monthly_fee, label: false, input_html: { class: 'form-control', min: 0 }
          %input.btn.btn-info{:name => "Submit", :type => "submit", :value => "Save Changes"}/
          %a.btn.btn-warning{:href => "account-index.php"} Cancel

  - if params[:action] == 'edit'
    .box.col-md-4
      .box-inner{style: 'min-height: 476px;'}
        .box-header.well{"data-original-title" => ""}
          %h2
            %i.glyphicon.glyphicon-star-empty
            Payment History
          .box-icon
            %a.btn.btn-minimize.btn-round.btn-default{:href => "#"}
              %i.glyphicon.glyphicon-chevron-up
        .box-content
          %p
            = link_to new_managers_account_account_payment_path(account), class: 'btn btn-info' do 
              %i.glyphicon.glyphicon-edit.icon-white
              Add Payment
          %table.table.table-striped.table-bordered
            %thead
              %th Date
              %th Type
              %th Amount
              %th  
            %tbody
              - payments.limit(5).each do |payment|
                %tr
                  %td= payment.payment_date.strftime('%D')
                  %td= payment.payment_type
                  %td= number_to_currency(payment.amount)
                  %td{:align => "right", :nowrap => "nowrap"}
                    = link_to edit_managers_account_account_payment_path(account, payment), class: 'btn btn-success' do
                      %i.glyphicon.glyphicon-edit.icon-white
                    = link_to managers_account_account_payment_path(account, payment), class: 'btn btn-danger', :confirm => "Are you sure?",  method: 'DELETE' do
                      %i.glyphicon.glyphicon-trash.icon-white
            %tfoot
              %tr
                %td{:colspan => "4"}
                  %small= payments.limit(5).count.to_s + ' Of ' + payments.count.to_s
              %tr
                %td{:colspan => "4"}
                  = link_to 'Click here to see all', managers_account_account_payments_path(account)
    .box.col-md-4
      .box-inner
        .box-header.well{"data-original-title" => ""}
          %h2
            %i.glyphicon.glyphicon-star-empty
            Account Managers
          .box-icon
            %a.btn.btn-minimize.btn-round.btn-default{:href => "#"}
              %i.glyphicon.glyphicon-chevron-up
        .box-content
          %p
            = link_to new_managers_account_account_manager_path(account), class: 'btn btn-info' do
              %i.glyphicon.glyphicon-edit.icon-white
              Manage Account Manager
          %table.table.table-striped.table-bordered
            %thead
              %th Name
            %tbody
              - account_managers.each do |account_manager|
                %tr
                  %td
                    %strong= '*' if account_manager.lead
                    = account_manager.manager.name
            %tfoot
              %tr
                %td
                  %small Lead manager marked with a *
  .box.col-md-4
    .box-inner
      .box-header.well{"data-original-title" => ""}
        %h2
          %i.glyphicon.glyphicon-star-empty
          Documents
        .box-icon
          %a.btn.btn-minimize.btn-round.btn-default{:href => "#"}
            %i.glyphicon.glyphicon-chevron-up
      .box-content
        %p
          %a.btn.btn-info{:href => "account-document-edit.php"}
            %i.glyphicon.glyphicon-edit.icon-white
            Upload Documents
        %table.table.table-striped.table-bordered
          %thead
            %th Name
            %th Type
            %th  
          %tbody
            %tr
              %td Sign Up
              %td Contract
              %td
                %a.btn.btn-danger{:href => "#"}
                  %i.glyphicon.glyphicon-trash.icon-white
          %tfoot
            %tr
              %td{:colspan => "4"}
                %small last 4 documents
            %tr
              %td{:colspan => "4", :style => "text-align:center;"}
                %a{:href => "#"} Click here to see all
  .box.col-md-4
    .box-inner
      .box-header.well{"data-original-title" => ""}
        %h2
          %i.glyphicon.glyphicon-star-empty
          Board Members
        .box-icon
          %a.btn.btn-minimize.btn-round.btn-default{:href => "#"}
            %i.glyphicon.glyphicon-chevron-up
      .box-content
        %p
          %a.btn.btn-info{:href => "#"}
            %i.glyphicon.glyphicon-edit.icon-white
            Add Board Member
        %table.table.table-striped.table-bordered
          %thead
            %th Name
            %th Position
            %th  
          %tbody
            %tr
              %td Yaco Zaragoza
              %td President
              %td
                %a.btn.btn-success{:href => "#"}
                  %i.glyphicon.glyphicon-edit.icon-white
                %a.btn.btn-danger{:href => "#"}
                  %i.glyphicon.glyphicon-trash.icon-white
            %tr
              %td Aidaelena Valdes
              %td Treasurer
              %td
                %a.btn.btn-success{:href => "#"}
                  %i.glyphicon.glyphicon-edit.icon-white
                %a.btn.btn-danger{:href => "#"}
                  %i.glyphicon.glyphicon-trash.icon-white
            %tr
              %td Moises Zaragoza
              %td Vice-President
              %td
                %a.btn.btn-success{:href => "#"}
                  %i.glyphicon.glyphicon-edit.icon-white
                %a.btn.btn-danger{:href => "#"}
                  %i.glyphicon.glyphicon-trash.icon-white
