- content_for :meta_description, 'This is the meta_description'
- content_for :meta_keywords, 'This is the meta_keywords'
- content_for :breadcrumb do
  %div
    %ul.breadcrumb
      %li
        = link_to managers_root_path do
          %i.glyphicon.glyphicon-chevron-right
          %span Dashboard
      %li
        = link_to 'Accounts', '#'
.row
  .box.col-md-12
    %p
      = link_to new_managers_account_path, class: 'btn btn-info' do
        %i.glyphicon.glyphicon-edit.icon-white
        New Account
    %p
      %a.btn.btn-setting.btn-success{:href => "#"}
        %i.glyphicon.glyphicon-zoom-in
        Add Filter
      %a.btn.btn-setting.btn-success{:href => "#"}
        %i.glyphicon.glyphicon-minus-sign
        Clear Filters
.row
  .box.col-md-12
    .box-inner
      .box-header.well{"data-original-title" => ""}
        %h2
          %i.glyphicon.glyphicon-star-empty
          Accounts
      .box-content
        %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
          %thead
            %tr
              %th Subdomain
              %th Name
              %th Address
              %th Number Board Members
              %th Number of Apt
              %th Account Manager
              %th Monthy Fees
              %th  
          %tbody
            - accounts.each do |account|
              %tr
                %td= account.subdomain
                %td= account.name
                %td= account.full_address
                %td= account.number_of_board_members
                %td= account.number_of_appartments
                %td= account.manager
                %td= number_to_currency(account.monthly_fee)
                %td{:align => "right", :nowrap => "nowrap"}
                  = link_to edit_managers_account_path(account), class: 'btn btn-info' do
                    %i.glyphicon.glyphicon-edit.icon-white
                    Edit
                  = link_to managers_account_path(account), class: 'btn btn-danger', :confirm => "Are you sure?",  method: 'DELETE' do
                    %i.glyphicon.glyphicon-trash.icon-white
                    Delete
