- content_for :meta_description, 'This is the meta_description'
- content_for :meta_keywords, 'This is the meta_keywords'
- content_for :breadcrumb do
  %div
    %ul.breadcrumb
      %li
        = link_to managers_root_path do
          %i.glyphicon.glyphicon-chevron-right
          %span Dashboard
      %li
        = link_to 'Managers', '#'
.row
  .box.col-md-12
    %p
      = link_to new_managers_manager_path, class: 'btn btn-info' do
        %i.glyphicon.glyphicon-edit.icon-white
        New Manager
    %p
      %a.btn.btn-setting.btn-success{:href => "#"}
        %i.glyphicon.glyphicon-zoom-in
        Add Filter
      %a.btn.btn-setting.btn-success{:href => "#"}
        %i.glyphicon.glyphicon-minus-sign
        Clear Filters
.row
  .box.col-md-12
    .box-inner
      .box-header.well{"data-original-title" => ""}
        %h2
          %i.glyphicon.glyphicon-star-empty
          Managers
      .box-content
        %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
          %thead
            %tr
              %th Id #
              %th Email
              %th Name
              %th Photo
              %th Status
              %th  
          %tbody
            - managers.each do |manager|
              %tr
                %td= manager.id
                %td= manager.email
                %td= manager.name
                %td
                  = image_tag manager.photo if manager.photo
                %td
                  - if manager.active?
                    %span.label.label-success Active
                  - else
                    %span.label.label-dander Inactive
                %td{:align => "right", :nowrap => "nowrap"}
                  = link_to edit_managers_manager_path(manager), class: 'btn btn-info' do
                    %i.glyphicon.glyphicon-edit.icon-white
                    Edit
                  - unless manager == current_manager
                    = link_to managers_manager_path(manager), class: 'btn btn-danger', :confirm => "Are you sure?",  method: 'DELETE' do
                      %i.glyphicon.glyphicon-trash.icon-white
                      Delete
